* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  height: calc(100vh - 90px);
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  height: 700px;
  margin: 1rem auto;
}