.loginAria {
  height: 400px;
  display: flex;
  justify-content: center;  
  align-items: center;
  border: 1px solid black;
  border-radius: 0.25rem; 

  &:hover {
    outline: 2px solid black;
  }
}

.loginFields {
  display: flex;
  flex-direction: column !important;

  label {
    margin-bottom: .5rem;
  }

  input {
    margin-bottom: 1rem;
    width: 400px;
    height: 30px;
    padding-left: 10px;
  }

  button {
    height: 30px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    background-color: #ccc;

    &:hover {
      filter: brightness(0.9);
    }
  }

}