.loginAria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin-bottom: 1rem;
  }

  input {
    margin-right: 2rem;
    padding-left: .5rem;
  }

  label {
    margin-right: .5rem;
  }

  button {
    width: 100px;
    height: 20px;
  }
}